<div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.gt-lg="100">

   

        <mat-form-field style="width:400px">
          <!--   <span matPrefix>+1 &nbsp;</span> -->
            <input type="text" matInput (keyup)="onFilterChanged()"  [(ngModel)]="searchBarValue"  placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    

        <ag-grid-angular  
        style="width: calc(100%); height:700px; margin-top:10px;" 
        class="ag-theme-material"
        [showToolPanel]="false"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [enableSorting]="true"
        [enableFilter]="true"	
        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        [enableColResize]="true"
        [enableRangeSelection]="true"
        [toolPanelSuppressSideButtons] = "true"
        [defaultColDef]="defaultColDef"
        
        >
    </ag-grid-angular>
      
</div>