<nav mat-tab-nav-bar>
			
			
			<a mat-tab-link  routerLink="container/database" routerLinkActive="mat-tab-link-active"> Containers </a>
			<!-- <a mat-tab-link routerLink="database" routerLinkActive="mat-tab-link-active"> Materials </a>-->
			<!-- <a mat-tab-link > Container View </a> -->		
			
			<!-- <a mat-tab-link *ngIf="userService.hasPermission([40,41])"   (click)="openDialog()" > Add Container </a> -->
			
			<a mat-tab-link *ngIf="selectedMaterialId" [routerLink]="['/material',selectedMaterialId]" routerLinkActive="mat-tab-link-active"> 
				Material{{' - '+selectedMaterialId}}
			</a> 


			
			<a mat-tab-link  
				*ngIf="selectedContainerId" 
				routerLinkActive="mat-tab-link-active" 
				[routerLink]="['/material/container',selectedContainerId]" >Container{{' - '+selectedContainerId}}</a>
			
				<a mat-tab-link  routerLink="settings" routerLinkActive="mat-tab-link-active"> 
					
					 <mat-icon>settings_applications</mat-icon>
					 Settings
				 </a>
			</nav>

			
		<div class="tab-content">
				<router-outlet ></router-outlet>
		</div>
		   