<div *ngIf="!ncrLoading && !ncrObject.id">
        This NCR does not exist.
</div>

<div *ngIf="ncrObject.id && !ncrLoading" fxFlex=50 fxLayoutGap="10px" fxLayout="column">
    <div id="ncr" fxLayoutGap="10px" fxLayout="column"> 
        <mat-toolbar>
            <mat-toolbar-row>
                <h2> Non Conformance Report #{{ncrObject.id}} </h2>
                <span class="example-spacer"></span>
                <mat-button-toggle-group  [(ngModel)]="ncrObject.status" class="enabled"  
                class="mat-elevation-z1" name="fontStyle" aria-label="Font Style" disabled>
                    <mat-button-toggle value="draft" >Draft</mat-button-toggle>
                    <mat-button-toggle value="ongoing">Ongoing</mat-button-toggle>
                    <mat-button-toggle value="resolved">Resolved</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-toolbar-row>

        </mat-toolbar>


        <form [formGroup]="ncrOptions" fxLayout="column" fxLayoutGap="10px">

            <div fxLayout="row" fxFlex fxLayoutGap="10px">
                <mat-form-field  fxFlex>
                    <mat-label> Name </mat-label>
                    <input  matInput name="ncr_name"  formControlName="name" placeholder="Hard Hat Issue" required>
                </mat-form-field>
                 <mat-form-field  fxFlex>
                    <mat-label> Project </mat-label>
                    <input   [matAutocomplete]="projects" matInput name="ncr_project_id"  formControlName="project_id" placeholder="Project ID">
                </mat-form-field>

                <mat-autocomplete #projects="matAutocomplete">
                    <mat-option  *ngFor="let project of filteredProjects | async"  [value]="project.id">
                      <b>{{ project.id }}</b> - <small>{{project.Description}}</small>
                    </mat-option>
                  </mat-autocomplete>
                <mat-form-field >
                    <mat-label>Buisness Unit</mat-label>
                    <select  formControlName="buisness_unit" matNativeControl required>
                        <option disabled selected></option>
                        <option value="trial_manufacturing">Trial Manufacturing</option>
                        <option value="receiving">Receiving</option>
                        <option value="health_and_safety">Health and Safety</option>
                        <option value="research_and_developmemnt">R & D</option>
                        <option value="finance">Finance</option>
                    </select>
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxFlex fxLayoutGap="5px" fxLayoutAlign="center center">
                <mat-form-field  fxFlex>
                    <mat-label>Nonconformance </mat-label>
                    <mat-hint>What requirement was violated? Reference the applicable document if possible. </mat-hint>
                    <input  matInput  name="ncr_rqv"  formControlName="requirement_violated" placeholder="Safety Violation, Hard Hats - Section 4.5 of Quantiam Hard Hat Control" required>
                </mat-form-field>
                 <mat-form-field >
                    <mat-label>Category</mat-label>
                    <select  formControlName="type" matNativeControl required>
                        <option disabled selected></option>
                        <option value="OH&S">Health and Saftey</option>
                        <option value="procedure">Procedure</option>
                        <option value="product">Product Specification</option>
                    </select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Severity</mat-label>
                    <select formControlName="severity" placeholder="" matNativeControl required>
                        <option disabled selected></option>
                        <option value="minor">Minor</option>
                        <option value="major">Major</option>
                        <option value="severe">Severe</option>
                        <option value="critical">Critical</option>
                    </select>
                   
                </mat-form-field>

                <mat-icon matSuffix><a href="https://www.w3schools.com/tags/tag_textarea.asp" target="_blank">info</a></mat-icon>
            </div>

            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <mat-hint> Briefly describe the issue in detail, and if avaialble a reason for the event. </mat-hint>
                <textarea rows=3 maxlength=600  formControlName="description" name="ncr_description" placeholder="Individuals were found not wearing hardhards in mandatory hardhat designation zones. Upon inspection, it was apparent there were no hardhats available for use. " matInput required></textarea>
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
                <mat-label>Containment Action</mat-label>
                <mat-hint> Briefly what has been done to contain the problem, leave blank if nothing was done. </mat-hint>
                <textarea rows=3 maxlength=600 name="ncr_containment" formControlName="immediate_containment_action" placeholder="Inviduals were issued spare hard hats from a secured storage facility. " matInput></textarea>
            </mat-form-field>
            <div>

            
                <mat-form-field class="example-chip-list" fxFlex>
                    <mat-label>Responsible Persons</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection" placeholder="Add or remove as necessary.">
                        <mat-chip *ngFor="let user of selectedResponsible">{{user.firstname}}</mat-chip>
                        <input required 
                        #userInput
                        formControlName="responsible"
                        [matAutocomplete]="responsible" 
                        [matChipInputFor]="chipList" 
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" 
                        (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #responsible="matAutocomplete">
                        <mat-option  *ngFor="let user of filteredUsers | async"  [value]="user">
                          {{ user.name }} <small>{{user.title}}</small>
                        </mat-option>
                    </mat-autocomplete>
               
                </mat-form-field>
            <!--  <mat-form-field >
                    <mat-label> Created By </mat-label>
                    <input matInput name="ncr_requirement" value="Tyson Boyce" disabled>
                </mat-form-field> -->

        </div>

        </form>

        <div style="margin-bottom:20px;" id="ncr action bar" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button  
            (click)="showNcrDocumentUpload = !showNcrDocumentUpload" 
            color="primary" matTooltip="Upload New Documents" > <mat-icon >cloud_upload</mat-icon> </button> 
            <button *ngIf="ncrObject.status !== 'Draft'" mat-raised-button color="primary" (click)="updateNCR()"> Save Changes </button>
            <button  type="submit" [disabled]="!ncrOptions.valid && ncrObject.status === 'Draft'" (click)="updateNCR()">Submit</button>
        
                                            
        </div>

        <div  [hidden]="!showNcrDocumentUpload" id="ncr_document_upload_zone">
            <ngx-file-drop browseBtnLabel="Upload NCR Related Documents"  [showBrowseBtn]="true">

                
                    
            </ngx-file-drop>
        </div>
    </div>
    <div id="car" [hidden]="ncrObject.status !== 'Draft'">       
        <mat-toolbar>
            <mat-toolbar-row>
                <h3> Corrective Actions </h3>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary">Create</button>
             </mat-toolbar-row>

        </mat-toolbar>
        <!--- table thing with each action taken -->
        <table class="table">
            <tbody>
                <tr>
                    <td> Made People wear hardhats </td>
                    <td> Ryan H </td>
                    <td> 2020-03-23 </td>
                    <td> Ongoing </td>
                </tr>
            </tbody>
        </table>

        <div id="car_document_upload_zone">
            <ngx-file-drop browseBtnLabel="Upload CAR related Documents"  [showBrowseBtn]="true">

            
                
            </ngx-file-drop>

        </div>
    </div>

    <div id="reportActions">

            <!---    -->


    </div>

   
</div>