<div fxLayout="row" fxLayoutAlign="center center">
<ag-grid-angular  fxFlex fxFlex.gt-lg="100"
    style="width: calc(100%); height:calc(80vh); margin-top:25px;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
	[enableSorting]="true"
    [enableFilter]="true"	
    (gridReady)="onGridReady($event)"
	(cellDoubleClicked)="onCellDoubleClicked($event)"
	[enableColResize]="true"
	[enableRangeSelection]="true"
	[pagination]="false"
    [paginationPageSize]="paginationPageSize"
    >
</ag-grid-angular>
</div>  