
<ng-select 

  
style="min-width: 120px;"
[items]="itemsBuffer"
[loading]="loading"

[multiple]="multiple"
[placeholder]="placeholder"
[hideSelected]="true"
[virtualScroll]="true"

(change)="onChange($event)"
(add)="onAdd($event)"
(remove)="onRemove($event)"
(scrollToEnd)="onScrollToEnd()"
(clear)="onClear($event)"
(open)="onOpen()"



[(ngModel)]="selectedValue"	 
[(typeahead)]="input$" 


>
<!-- scroll-host & scrollable-content  [searchFn]="customSearchFn" 
(scroll)="onScroll($event)" -->

<ng-template ng-label-tmp let-item="item">
 <small> {{item.qcid || item.identifier}} </small> <b>{{item.name}}</b> {{item.grade}}
</ng-template>

<ng-template ng-header-tmp>
  <small class="form-text text-muted">Loaded {{itemsBuffer.length}} of {{totalResults}}</small>
</ng-template>


<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm" style="width:1000px !important; ">
<div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="10px" style="height:50px;">
  <div fxLayout="row" class="dropdown-options"  fxLayoutAlign="start center" fxFlex style="margin:2px;">
  

    <div style="width:60px; font-size: 8px;" >{{item.identifier}}</div>

     <div style="width:300px; font-size: 13px; margin-right:5px;"  [ngOptionHighlight]="search" fxLayout="column">
      <b>{{ (item.name.length>30)? (item.name | slice:0:30)+'...':(item.name)}}</b>  
      <small style="font-size: 11px;">{{item.grade}}</small>     
     
    </div>
    <!-- <div style="width:200px; font-size: 10px; margin-right:5px;" [ngOptionHighlight]="search">
        {{item.grade}}
      </div> -->

    <div style="width:150px; font-size: 11px; font-weight:500; margin-right:5px;">
      {{item.supplier.supplier_name}}
    </div>
    <div style="width:80px; font-size: 10px">
      {{item.cas}}
    </div>

    
    
  </div>
  <!-- <div>
    <a *ngIf="item.active" mat-button  color="primary"   > Active </a>
    <a *ngIf="!item.active" mat-button  color="warn"   > Inactive </a>
  </div> -->
</div> 



  
</ng-template>


</ng-select>