<nav mat-tab-nav-bar>
    
    <a mat-tab-link *ngIf="userService.hasPermission(24)" routerLink="project" routerLinkActive="mat-tab-link-active"> Project </a>
    <a mat-tab-link *ngIf="userService.hasPermission(25)" routerLink="holiday" routerLinkActive="mat-tab-link-active"> Holidays </a>
    <a mat-tab-link *ngIf="userService.hasPermission(37)" routerLink="rto-allocation" routerLinkActive="mat-tab-link-active"> RTO Allocation </a>
    
    
    
    

</nav>
    
<div class="padding">
    <router-outlet ></router-outlet>
</div>