
<h2> Sample Creation Dialog </h2>
<div id="" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

		<app-select-experiment

			style="min-width:250px;"
			(change)="experimentChanged($event)"
	></app-select-experiment>

	
		<mat-form-field *ngIf="selectedExperiment.id">
			<mat-select 
			required
			#SampleType
			placeholder="Sample Type"  
			[(ngModel)]="selected_type"
			>

				<mat-option *ngFor="let item of sampleTypeList">{{item}}</mat-option>
			</mat-select>

		
		</mat-form-field>
		<h3 *ngIf="selectedExperiment.id"> SGX ID - 006</h3> 
</div>



<div *ngIf="selectedExperiment.has_materials" id="addMaterialContainers" fxLayout="column" fxLayoutAlign="start start">

	<div fxLayout="row" fxLayoutAlign="start center">
			<app-select-material-container

			style="min-width:400px;"
			(change)="materialContainerChanged($event)"
		></app-select-material-container>
	</div>
	

<ag-grid-angular  
					
						#rto_agrid
						style="width: calc(100%); height:500px;margin-top:10px;" 
						class="ag-theme-material"
					
						[rowData]="selectedContainers" 
						[columnDefs]="ColumnDefs"
						[enableSorting]="true"
						[enableFilter]="true"	
						(gridReady)="onGridReady($event)"
						(cellEditingStopped)="onCellEditingStopped($event)"
    				(cellEditingStarted)="onCellEditingStarted($event)"
						[statusBar]="false"
						[enableColResize]="true"
						[enableRangeSelection]="true"						
						[defaultColDef]="DefaultColDef"
						
						>
					</ag-grid-angular>
				</div>