
<div fxLayout="row"  >

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex>
  
  
        <app-select-user
           style="min-width:150px;"
          (change)="filterRtoOwner($event)"
          (clear)="clearRtoOwner($event)"
          placeholder="Employee"
          [subordinates]="showSubordinatesOnly"

        ></app-select-user>

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="statusChanged($event)">
            <mat-button-toggle value="approved">Aproved</mat-button-toggle>
            <mat-button-toggle value="pending">Pending</mat-button-toggle>
            <mat-button-toggle value="denied">Denied </mat-button-toggle>
          </mat-button-toggle-group>
  
  
  
    </div>
  
    <div fxLayout="row" fxLayoutAlign="end start" fxFlex fxLayoutGap="20px">
  
      
        <mat-form-field style="max-width: 100px;">
            <mat-select  placeholder="Page Size"  [(ngModel)]="gridOptions.cacheBlockSize" (selectionChange)="onPageSizeChanged()">
              <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize" [attr.selected]="pageSize === gridOptions.cacheBlockSize ? 'selected': null">
                {{pageSize}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        <!-- <mat-form-field style="width:400px">
            
            <input id="semDatabaseSearchBar" type="text" matInput (keyup)="onTextFilterChanged()"  [(ngModel)]="filteredTextFilterName"  placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>  
   -->
      </div>
  
  </div>
  
  
  <div fxLayout="row" fxLayoutAlign="center start">
      <ag-grid-angular fxFlex=60
      #agGrid
      
      id="rtoDatabase"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      
      [animateRows]="true"
      
      (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
</div>