

<div *ngIf="container.hasOwnProperty('id')">
	
	
	<!-- {{container.lot.material.name}} -->
	
	
<form  style='margin-top:10px'  #containerForm="ngForm">
			
</form>


	<div fxLayoutGap="20px" fxLayout="column" fxLayout.lg="row" fxLayout.xl="row"  fxLayoutAlign="start stretch">
			
		<mat-accordion  multi="true" fxFlex>
			<mat-expansion-panel expanded="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<b>	Material Information </b>
						
					</mat-panel-title>
					<mat-panel-description>
						{{container.lot.material.name}} <i style="margin-left:10px;">{{container.lot.material.grade}}</i>
					</mat-panel-description>    
				</mat-expansion-panel-header>		
				<div>
				
					<div fxLayoutGap="5px" fxLayout="row" fxLayout.sm="column"  fxLayoutAlign="start stretch"  >	
						  <mat-form-field class="full-width"  fxFlex>
							  <input #MaterialName [disabled]="!editMaterial" (change)="updateMaterial(MaterialName)" type="text" matInput placeholder="Name" [(ngModel)] ='container.lot.material.name' name="name" disabled>
						 </mat-form-field>  
						  <mat-form-field class="full-width" fxFlex>
							  <input  #Grade [disabled]="!editMaterial" (change)="updateMaterial(Grade)" type="text" matInput placeholder="Grade" [(ngModel)] ='container.lot.material.grade' name="grade" disabled>
						 </mat-form-field>
						   <mat-form-field class="full-width" fxFlex>
							  <input  type="text" matInput placeholder="Supplier" [(ngModel)] ='container.lot.material.supplier.supplier_name' name="supplier" disabled>
						 </mat-form-field>  
						 
						 
					</div>		
					
					<div fxLayoutGap="5px"  fxLayout="row" fxLayout.sm="column"  >	
						
						
						   <mat-form-field class="full-width" fxFlex>
							  <input #Nomenclature [disabled]="!editMaterial" (change)="updateMaterial(Nomenclature)" type="text" matInput placeholder="Formula" [(ngModel)] ='container.lot.material.formula' name="formula" >
						 </mat-form-field>  
						
						  <mat-form-field class="full-width" fxFlex>
							  <input   #Cas [disabled]="!editMaterial" (change)="updateMaterial(Cas)" type="text" matInput placeholder="CAS #" [(ngModel)] ='container.lot.material.cas' name="cas" >
						 </mat-form-field>
						  <mat-form-field class="full-width" fxFlex>
							  <input #Catalog [disabled]="!editMaterial" (change)="updateMaterial(Catalog)"  type="text" matInput placeholder="Catalog #" [(ngModel)] ='container.lot.material.catalog' name="catalog" >
						 </mat-form-field> 
						   <mat-form-field class="full-width" fxFlex>
							  <input   #Density [disabled]="!editMaterial" (change)="updateMaterial(Density)" type="text" matInput placeholder="Density (g/ml)" [(ngModel)] ='container.lot.material.density' name="density" >
						 </mat-form-field>	
					</div>
					<div fxLayout="row"  fxLayoutAlign="end center">
					<button mat-button routerLink="/material/{{container.lot.material.id}}" > View </button>
					<button mat-button  (click)="editMaterial = !editMaterial"  > Edit </button>
					<button mat-button routerLink="/material/{{container.lot.material.id}}" > MSDS </button>
					
					</div>
					
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel expanded="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<b>	Lot Information </b>
					</mat-panel-title>
					<mat-panel-description>
						{{container.lot.lot_name}} 
					</mat-panel-description>    
				</mat-expansion-panel-header>		
				<div fxLayoutGap.sm="20px" fxLayout="column"  fxLayoutAlign="start stretch">
				
					<div fxLayoutGap="5px" fxLayout="row" fxLayout.sm="column"   >	
						  <mat-form-field *ngIf="!editLot" class="full-width" fxFlex="20">
							  <input  type="text" matInput placeholder="Name" [(ngModel)] ='container.lot.lot_name' name="name" disabled>
						  </mat-form-field>
						
						 <app-select2-material-lot 
						 
							
								fxLayoutAlign="start center"
								placeholder="Lot Name" 
								*ngIf="container.lot.material.id && editLot"
								enable_create="true"
								query_params='{"material_id":{{container.lot.material.id}}}'
								(selectedValue)="changedLot($event)"
								[default_lot]="container.lot"
								[disabled]="!editLot"
						 ></app-select2-material-lot>
						<p *ngIf="editLot && !newLotCreated" color="primary"> Type to create a new lot. </p>
						<mat-chip-list *ngIf="newLotCreated">
						 <mat-chip color="accent">New Lot Created!</mat-chip>
						</mat-chip-list>
					
						
					</div>		
					
						
					
					
				</div>
					<div fxLayout="row"  fxLayoutAlign="end center">
					
					<button mat-button  (click)="editLot = !editLot"  > Edit </button>
					
					</div>
			</mat-expansion-panel>
			
		</mat-accordion>
		
	
		<div fxFlex>
			<mat-card style="padding-bottom: 10px !important;">
				
					
				
			<div fxLayoutGap="20px" fxLayout="column"   fxLayoutAlign="center stretch" fxLayoutAlign.xl="center center" fxFlex>
			
				
				<img fxFlex width=75px height=75px style=""    [(src)]="container.datamatrix"/>
				<div   fxLayoutGap="5px"  fxLayoutAlign="start center"   fxLayout="column" fxLayout.xl="row"  fxLayout.lg="row"   fxFlex>	
						
						
					
						
						
							  <mat-form-field class="full-width" fxFlex>
								  <input  #ContainerName (change)="updateContainerField(ContainerName)" [disabled]="!editContainer"   type="text" matInput placeholder="Container Name" [(ngModel)] ='container.container_name' name="container_name" >
							 </mat-form-field>  
							   <mat-form-field class="full-width" fxFlex>
								  <input  #ContainerNumber (change)="updateContainerField(ContainerNumber)"  [disabled]="!editContainer" type="text" matInput placeholder="Container #" [(ngModel)] ='container.container_number' name="container_number" >
							 </mat-form-field>   

							 <mat-form-field class="full-width" fxFlex>
									 <mat-select 
											#LocationId
											placeholder="Location"
											name="location_id"
											 [(ngModel)]="container.location_id"
											
											
											[disabled]="!editContainer"
											 (ngModelChange)="updateContainerField($event,'location_id')"
									>
										<mat-option
											*ngFor="let location of locationList" 
											[value]="location.id"
											
											>{{location.text}}</mat-option>
									</mat-select>
							
							
							 </mat-form-field>   
							 
							
					
						
			   </div>
						   
						   
				<div fxLayoutGap="10px" fxLayoutAlign="start stretch"  fxLayout="column" fxLayout.xl="row" fxLayout.lg="row"   fxFlex >	
						
						
							<mat-form-field class="full-width" fxFlex.xl="20">
							  <input  #Denomination (change)="updateContainerField(Denomination)" [disabled]="!editContainer" type="text" matInput placeholder="Denomination" [(ngModel)] ='container.denomination' name="denomination" >
						 </mat-form-field> 	
						  <mat-form-field class="full-width" fxFlex>
							  <input #AmountOrdered (change)="updateContainerField(AmountOrdered)" [disabled]="!editContainer"   type="text" matInput placeholder="Amount Ordered ({{container.denomination}})" [(ngModel)] ='container.amount_ordered' name="amount_ordered" >
						 </mat-form-field>
						  <mat-form-field class="full-width" fxFlex>
							  <input #GrossWeight (change)="updateContainerField(GrossWeight)" [disabled]="!editContainer"  type="text" matInput placeholder="Gross Weight (g)" [(ngModel)] ='container.gross_weight' name="gross_weight" >
						 </mat-form-field>	 
						 
						  <mat-form-field class="full-width" fxFlex>
								  <input  #PurchaseOrder (change)="updateContainerField(PurchaseOrder)" [disabled]="!editContainer"  type="text" matInput placeholder="P.O. #" [(ngModel)] ='container.purchase_order' name="purchase_order" >
							 </mat-form-field>  

										  
				</div>	
			</div>
			
			<div fxLayout="row"  >	
				<div fxLayout="row">
					<mat-checkbox (change)="changeContainerStatus()" [disabled]="!editContainer" [(ngModel)] ='container.active' name="active" fxLayoutAlign="start center">Active</mat-checkbox>
				</div>
				<div fxLayout="row"  fxLayoutAlign="end center" fxFlex>			
							<button mat-button  (click)="editContainer = !editContainer"  > Edit </button>						
							<button mat-button routerLink="/material/{{container.lot.material.id}}" >MSDS</button>
				</div>
				</div>
			
				
		</mat-card>
		</div>
	<!-- <select2-material ></select2-material> -->
	
	</div>
	
</div>
	