<!-- <button mat-button (click)="refreshTable()"> Test </button> -->

<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover table-stats table-condensed table-striped table-clickable"></table> -->

<div fxLayout="column" fxLayoutAlign="stretch stretch" fxFlex fxFlex.gt-lg="100">

       
    <div fxLayout="row"  fxLayoutGap="20px"    >

        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"> 
               
               <!--  <app-select-material></app-select-material> -->
               
                    <ngb-alert   type="info"  [dismissible]="false" style="margin-top:7px; margin-bottom:0px;">
                            <b> SDS Storage </b> <a target="_blank" href="File:///Q:/Administration - All Staff/Chemical Inventory Tracking System and SDS/SDS"> Q:\Administration - All Staff\SDS </a>
                    </ngb-alert>

                    <mat-slide-toggle  (click)="toggleCellsEditable()"> Edit Table </mat-slide-toggle> 
               
               <!-- <app-select-material-supplier></app-select-material-supplier>  -->
        </div>
        <div fxFlex fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="20px"> 

           
              
        </div>
        <div fxFlex fxLayout="row"  fxLayoutAlign="end start" fxLayoutGap="10px">
            <button  (click)="downloadIventoryList()" mat-raised-button color="primary"> 
                Inventory List
            </button>
            <button *ngIf="userService.hasPermission([40,41])"  (click)="openDialog()" mat-raised-button color="primary"> 
                Create Container
            </button>
            <button (click)="refreshDatabase()" mat-raised-button> 
                Refresh
                <mat-icon  >refresh</mat-icon>
            </button>

                <!-- <div fxFlex fxLayout="row"  fxLayoutGap="15px"  fxLayoutAlign="center center"> 
                <b> Filters </b>  
                    <mat-slide-toggle  > Instock </mat-slide-toggle>
                    <mat-slide-toggle  > Manufacturing </mat-slide-toggle>
                    <mat-slide-toggle  > Research </mat-slide-toggle>
                </div>  -->
        </div>
    <!-- <button mat-button > Active </button> -->
    </div>

    <div fxLayout="row" fxFlexAlign="start center">

            <div fxFlex fxLayout="row" fxLayoutGap="10px">
                    <div style="max-width: 350px;"> 
                        <app-select-hazard (change)="hazardSelectionChanged($event)" ></app-select-hazard>
                    </div>
                    <div style="max-width: 350px;"> 
                        <app-select-material-supplier  [multiple]="true"  (change)="supplierFilterChanged($event)" ></app-select-material-supplier>
                 
                    </div>
                    <div style="max-width: 350px;"> 
                       <app-select-location [multiple]="true" (change)="locationFilterChanged($event)" ></app-select-location>
                    </div>
                   

            </div>

            <div fxFlex fxLayout='row' fxLayoutAlign="end center">
                <mat-form-field style="width:300px">
                    <!--   <span matPrefix>+1 &nbsp;</span> -->
                    <input type="text" matInput (keyup)="onFilterChanged()"  [(ngModel)]="filteredTextFilterName"  placeholder="Search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>  
            </div>
    </div>

    <ag-grid-angular 
        #agGrid
           
              
        style="width: calc(100%); height:calc(60vh); margin-top:10px;" 
        class="ag-theme-balham"
        animateRows="true"
        
       
        [rowData]="rowData" 
       
        [columnDefs]="columnDefs"
      
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"              
        [modules]="modules"
        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        (cellEditingStopped)="onCellEditingStopped($event)"
        (cellEditingStarted)="onCellEditingStarted($event)"
       
        [enableRangeSelection]="true"
        [pagination]="true"
       
    
        
        >
    </ag-grid-angular>


</div>