
<div fxLayout="row" fxLayoutAlign="center center">
<div  fxLayout="column" fxFlex fxFlex.lg="70" fxFlex.xl="50" fxLayoutAlign="center stretch" fxLayoutGap="10px">
	
		<mat-card class="quantiam-mat-card" fxFlex fxFlex.xl="40" fxLayout="column" >
		<mat-card-title>
			 Attributes
		</mat-card-title> 
		<mat-card-content>
			<div   fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch">
			
				
				
				<mat-form-field  fxFlex="10">
							<input  #EmployeeID 
							(change)="updateUser(EmployeeID)"
							[disabled]="!editUser" 
							type="number" 
							matInput 
							placeholder="ID" 
							[(ngModel)] ='user.employeeid'
							name="employeeud"
					>
				</mat-form-field >
				
				
				<!-- <mat-form-field  fxFlex="10">
							<input  #Prefix 
							(change)="updateUser(FirstName)"
							[disabled]="!editUser" 
							type="text" 
							matInput 
							placeholder="Prefix" 
							[(ngModel)] ='user.prefix'
							name="prefix"
					> </mat-form-field >-->
				
				<mat-form-field  fxFlex="30%">
							<input  #FirstName 
							(change)="updateUser(FirstName)"
							[disabled]="!editUser" 
							type="text" 
							matInput 
							placeholder="First Name" 
							[(ngModel)] ='user.firstname'
							name="firstname"
					>
				</mat-form-field >
					<mat-form-field  fxFlex>
							<input  #LastName 
							(change)="updateUser(LastName)"
							[disabled]="!editUser" 
							type="text" 
							matInput 
							placeholder="Last Name" 
							[(ngModel)] ='user.lastname'
							name="lastname"
					>
					</mat-form-field >
			
			
					
				
			
			
			</div>
			
			<div fxLayoutAlign="start stretch" fxLayoutGap="10px" >
				
					<p *ngIf="editUser"	fxLayoutAlign="start center"> Supervisor </p>
					 <app-select2-user
						
								*ngIf="editUser && user.employeeid"
								fxLayoutAlign="start center"
								[placeholder]="user.supervisors[0].name" 
								[disabled]="!editUser" 
								(selectedValue)="changedSupervisor($event)"
								
						
						
						></app-select2-user> 
						
						
						<mat-form-field *ngIf="!editUser" fxFlex fxFlex.xl="25">
								<input  #Title 
								
								disabled
								type="text" 
								matInput 
								placeholder="Immediate Supervisor" 
								[(ngModel)] ='user.supervisors[0].name'
								name="supervisor"
						>
					</mat-form-field >	
			
				<mat-form-field  fxFlex>
								<input  #Title 
								(change)="updateUser(Title)"
								[disabled]="!editUser" 
								type="text" 
								matInput 
								placeholder="Title" 
								[(ngModel)] ='user.title'
								name="title"
						>
					</mat-form-field >		
			
			
			</div>
			
			<div fxLayoutGap="10px" fxLayout="row wrap">
				
				<mat-form-field fxFlex >
					<input matInput [matDatepicker]="myDatepicker1" placeholder="Start Date" [(ngModel)] ='user.startdate' (dateChange)="updateUser($event.value,'startdate')" [disabled]="!editUser">
						  <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
						  <mat-datepicker #myDatepicker1></mat-datepicker>
				</mat-form-field>
				
				
				<mat-form-field fxFlex >
						  <input matInput [matDatepicker]="myDatepicker2" placeholder="Leave Date" [(ngModel)] ='user.leavedate' (dateChange)="updateUser($event.value,'leavedate')" [disabled]="!editUser">
						  <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
						  <mat-datepicker #myDatepicker2></mat-datepicker>
				</mat-form-field>
			
			
			</div>
			
			
			
		</mat-card-content>	
		
		<mat-card-actions fxLayout="row-reverse">
				
				<button mat-button (click)="editUser = !editUser"> Edit </button>
			
			
			</mat-card-actions>
		
		
		</mat-card>
		
	
			
			
			<mat-card  fxFlex fxFlex.xl="40" class='quantiam-mat-card' fxLayout="column" >
			<mat-card-title>
				Management
			</mat-card-title> 
			<mat-card-content>
			
			<nav mat-tab-nav-bar class="borderless">
				<a mat-tab-link (click)="selectedTable = 'supervisors'"> Supervisors </a>
				<a mat-tab-link (click)="selectedTable = 'permissions'"> Permissions </a>
				<a mat-tab-link (click)="selectedTable = 'machines'"> Machines </a>
				<a mat-tab-link (click)="selectedTable = 'rfid'"> Key Cards </a>
			
			</nav>
			
				<div  [ngClass]="{'hidden': !(selectedTable == 'supervisors')}" >
					<table  fxFlex style="box-shadow: none; width:100%;" mat-table [dataSource]="user.supervisors" matSort >

							<!--- Note that these columns can be defined in any order.
									The actual rendered columns are set as a property on the row definition" -->

							  <!-- Position Column -->
							  <ng-container matColumnDef="id">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
								<td mat-cell *matCellDef="let element"> {{element.id}} </td>
							  </ng-container>

							  <!-- Name Column -->
							  <ng-container matColumnDef="name">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
								<td mat-cell *matCellDef="let element"> {{element.name}} </td>
							  </ng-container> 
							  <ng-container matColumnDef="title">
								<th mat-header-cell *matHeaderCellDef> Title </th>
								<td mat-cell *matCellDef="let element"> {{element.title}} </td>
							  </ng-container>

							

							  <tr mat-header-row *matHeaderRowDef="displayedColumnsSupervisors"></tr>
							  <tr mat-row *matRowDef="let row; columns: displayedColumnsSupervisors;"></tr>
					</table>
			  </div>	
				<div   [ngClass]="{'hidden': !(selectedTable == 'permissions')}"  fxLayout="column"> 
				<table fxFlex style="box-shadow: none;  width:100%;" mat-table [dataSource]="permissionTableSource" matSort>

						<!--- Note that these columns can be defined in any order.
								The actual rendered columns are set as a property on the row definition" -->

						  <!-- Position Column -->
						  <ng-container matColumnDef="permission_id">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
							<td mat-cell *matCellDef="let element"> {{element.permission_id}} </td>
						  </ng-container> 
						  
						  <ng-container matColumnDef="permission_name" mat-sort-header>
							<th mat-header-cell *matHeaderCellDef style="width:150px"> Name </th>
							<td mat-cell *matCellDef="let element"> {{element.permission_name}} </td>
						  </ng-container>

						  <!-- Name Column -->
						  <ng-container matColumnDef="permission_description">
							<th mat-header-cell *matHeaderCellDef> Description </th>
							<td mat-cell *matCellDef="let element"> {{element.permission_description}} </td>
						  </ng-container> 
						  
						    <ng-container matColumnDef="derived_from_group">
							<th mat-header-cell *matHeaderCellDef> Derived </th>
							<td mat-cell *matCellDef="let element" style="text-align: center;"> 
								<mat-icon *ngIf="element.group_id"> group </mat-icon>
								<mat-icon *ngIf="!element.group_id"> person </mat-icon>
								
							</td>
							</ng-container>
						
						 <ng-container matColumnDef="customColumn1">
							<th mat-header-cell *matHeaderCellDef> More </th>
							<td mat-cell *matCellDef="let element; " > 
								<button mat-button *ngIf="element.group_id" routerLink="../group/{{element.group_id}}" style="font-size:12px"> {{element.group_name}} </button> 
								<button mat-button>
									<mat-icon  *ngIf="!element.group_id" mat-raised-button color="warn" (click)="deletePermission(element)"> delete </mat-icon> 
								</button>
								
							</td>
						  </ng-container>
						

						  <tr mat-header-row *matHeaderRowDef="displayedColumnsPermissions"></tr>
						  <tr mat-row *matRowDef="let row; columns: displayedColumnsPermissions;"></tr>
				</table>
				<mat-paginator   [pageSizeOptions]="pageSizeOptions"
							  (page)="pageEvent = $event" showFirstLastButtons>
				</mat-paginator>
			  </div>
			
				
			 <div [ngClass]="{'hidden': !(selectedTable == 'machines')}" >
				<table fxFlex style="box-shadow: none;  width:100%;" mat-table [dataSource]="user.machines" matSort>

					
						  <ng-container matColumnDef="id">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
							<td mat-cell *matCellDef="let element"> {{element.id}} </td>
						  </ng-container> 
						  
						  <ng-container matColumnDef="machine_name">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
							<td mat-cell *matCellDef="let element"> {{element.machine_name}} </td>
						  </ng-container>

						

						

						  <tr mat-header-row *matHeaderRowDef="displayedColumnsMachines"></tr>
						  <tr mat-row *matRowDef="let row; columns: displayedColumnsMachines;"></tr>
				</table>
				<!-- <mat-paginator   [pageSizeOptions]="pageSizeOptions"
							  (page)="pageEvent = $event" showFirstLastButtons>
				</mat-paginator> -->
			  </div>
				
			 <div [ngClass]="{'hidden': !(selectedTable == 'rfid')}" >
				<table fxFlex style="box-shadow: none;  width:100%;" mat-table [dataSource]="rfidTableSource" matSort>

						  <tr mat-header-row *matHeaderRowDef="displayedColumnsRfid"></tr>
						  <tr mat-row *matRowDef="let row; let index = index; columns: displayedColumnsRfid;"></tr>
					
						  <ng-container matColumnDef="id">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Card # </th>
							<td mat-cell *matCellDef="let element"> {{element.id}} </td>
						  </ng-container> 
						  
						  <ng-container matColumnDef="string">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> String </th>
							<td mat-cell *matCellDef="let element"> {{element.string}} </td>
						  </ng-container>
						<ng-container matColumnDef="customColumn1"> 
							<th mat-header-cell *matHeaderCellDef> More </th>
							<td mat-cell *matCellDef="let row; let i = index;" > 
								
								<button mat-button>
									<mat-icon   mat-raised-button color="warn" (click)="deleteRfid(i)"> delete </mat-icon> 
								</button>
								
							</td>
						  </ng-container>

						

						

						
				</table>
				<mat-paginator  style="display:none;" [pageSizeOptions]="pageSizeOptions"
							  (page)="pageEvent = $event" showFirstLastButtons>
				</mat-paginator> 
			  </div>
				
			
			</mat-card-content>	
			<mat-card-actions fxLayout="row-reverse">
				
				<!-- <button mat-button (click)="editUser = !editUser"> Edit </button> -->
			
			
			</mat-card-actions>
		
			</mat-card>		
	
		
	
	</div>
</div>