<ng-select 
	[items]="items"

	[(ngModel)]="selectedValue"	

	[multiple]="multiple"
	[placeholder]="placeholder"
	[restrictedAccessMode]="restrictedAccessMode"

	(change)="onChange($event)"
	(remove)="onRemove($event)"
	(clear)="onClear()"

	bindValue="id"
	bindLabel="name"
>

  <ng-template ng-header-tmp>
    <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="10px" >
      <mat-checkbox  [(ngModel)]="showActive" (change)="showItems()" [check]="showActive"> Active </mat-checkbox>
      <mat-checkbox  [(ngModel)]="showInactive" (change)="showItems()"> Inactive </mat-checkbox>
    </div>
	</ng-template> 
	
  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm" >
			<div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="10px">
				<div fxLayout="row"  fxLayoutAlign="start center" fxFlex >
					<div style="width:45px"  [ngOptionHighlight]="search"><b>{{item.id}}</b></div> 
					<div style="width:150px;font-size:13px; margin-right:5px;"  [ngOptionHighlight]="search" >{{item.name}}</div>
					<div style="font-size:13px; width:250px; display: inline; word-wrap: break-word;" >{{item.title}}</div>
					
				</div>
				<div>
					<a *ngIf="item.active" mat-button  color="primary"   > Active </a>
					<a *ngIf="!item.active" mat-button  color="warn"   > Inactive </a>
				</div>
			</div> 
				
	 </ng-template>


</ng-select>