

<div fxLayout="row">
	
	<button (click)="openAddSgxSampleDialog()" mat-button>Create </button>
	
</div>

<div fxLayout="row" fxLayoutAlign="center center">



<ag-grid-angular 

	
	#agGrid	
	style="width: calc(100%); height:calc(70vh); margin-top:25px;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
	[defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
	(cellDoubleClicked)="onCellDoubleClicked($event)"
	(cellEditingStopped)="onCellEditingStopped($event)"
	(cellEditingStarted)="onCellEditingStarted($event)"
	[enableRangeSelection]="true"
	[pagination]="false"
	
    
    >
</ag-grid-angular>
</div>  