markdown ::ng-deep{

    font-family: Roboto,sans-serif;
    overflow-y: scroll;
    height: 92vh;
}

markdown ::ng-deep p {
    margin-left: 30px;
    box-sizing: border-box;
    line-height: 1.5;   
    font-weight: 400;
    color: rgba(0,0,0,.87);
    font-size: 11px;
}

markdown ::ng-deep ul {
    margin-top: 5px;
}

markdown ::ng-deep li {
    font-size: 12px;
}

markdown ::ng-deep h3 {
    font-size:14px;
    margin-bottom: 10px;
}

markdown ::ng-deep h4 {
    margin-left: 5px;
}

markdown ::ng-deep h2 {
    margin-top: 50px; 
    margin-bottom: 5px;
}

