


<div style="padding:2px 10px;" fxLayout="row" fxLayoutAlign="center center" [ngbTooltip]="infoString" container="body"
>
    <input  #valueField class="form-control timesheet timesheet-input"  [(ngModel)]="value" min=0 >

</div>

<!-- <div class="aggrid-background" fxLayout="row" (keydown)="onKeyDown($event)" fxLayoutAlign="center center" fxLayoutGap="10px">
  
 

  <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center" style="width: 150px;">

    <i>{{longDate}}</i>

    <mat-form-field  style="width:100px; text-align:center;">
      <input style="font-size:20px;"  matInput #valueField name="value" placeholder="" [(ngModel)]="value" min=0 step=0.25 >
    </mat-form-field>

    <div fxLayout="column" fxLayoutAlign="center center">      
     
      <h5 style="margin-bottom:0px;">{{params.node.data.project.projectID}}</h5> 
      <small style="font-size:80%;      text-align: center;">{{params.node.data.project.description}}</small> 
    </div>
  </div>
</div> -->