
<div fxLayout="column" fxFlexOffset.gt-md="20vw">

  <div fxlayout="row">

      <mat-form-field>
          <mat-label>Year</mat-label>
      
          <mat-select [(ngModel)]="selectedYear" matNativeControl (selectionChange)="fetchList()">
            
              <mat-option *ngFor="let year of yearList" [value]="year">
                  {{year}}
                </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <hot-table  
    
    class="hot"

    [hotId]="id"
    [settings]="hotTableSettings"
    [licenseKey]="'non-commercial-and-evaluation'"  
    
  
>

      <hot-column data="employee_id" title="ID" readOnly="true"></hot-column>
      <!--  <hot-column data="year" title="'Year'" read-only></hot-column> -->
      <hot-column data="employee.name_abbrev" title="Name" readOnly="true" ></hot-column>
      <hot-column data="vacation"   type="numeric" title="Vacation" [readOnly]="userService.hasPermission(37)? false: true"></hot-column>
      <hot-column data="pto" type="numeric" title="PTO" [readOnly]="userService.hasPermission(37)? false: true"></hot-column>
      <hot-column data="ppl"  type="numeric" title="PPL" [readOnly]="userService.hasPermission(37)? false: true"></hot-column>
      <hot-column data="employee.startdate" title="Started"  readOnly="true"></hot-column>
      <hot-column data="employee.leavedate" title="Left"  readOnly="true"></hot-column>
      <hot-column data="comment" title="Comment"  width="300" [readOnly]="userService.hasPermission(37)? false: true"></hot-column>
    
    </hot-table>  


</div>