<div fxLayout="column" fxLayoutGap="50px">


    <div fxLayout="row" fxFlex>

      <app-select-tgarun

      placeholder="Please select one or more TGA Runs"
      multiple="true"
      style="min-width:400px;"
      selectedValue=""
      (change)="changeTgaRun($event)"
      (remove)="removeTgaRun($event)"

      ></app-select-tgarun>

      <button mat-button (click)="loadSelectedTgaRuns()"> Load </button>

      <div *ngIf="selectedTgaRuns.length == 1 && TgaRun?.filename">
      <!-- <button mat-button *ngIf="selectedFileIndex != 0" (click)="previousRun()">Previous</button>
      <button mat-button *ngIf="selectedFileIndex < TgaFileList.length"(click)="nextRun()">Next</button> -->
    </div>
  </div>

  <div *ngIf="TgaRun?.filename && selectedTgaRuns.length == 1">


    <div fxLayout="row" fxLayoutGap="10px">
<!-- 
        <mat-form-field>
            <mat-select placeholder="TGA File" [(ngModel)]="selectedFile" (selectionChange)="changeSelectedFile($event)" >
              <mat-option *ngFor="let file of TgaFileList" [value]="file">
                {{file.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
      

    </div>

      <highcharts-chart *ngIf="renderChart"
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        [callbackFunction]="chartRender()"
        [(update)]="updateFlag"

        style="width: 100%; height: 500px; display: block;"
      ></highcharts-chart>

    

      <div *ngIf="TgaRun.peaks[0]">
          <h3> Peaks </h3> 
          <div  fxLayout="row" fxLayoutGap="10px">
            <button *ngFor="let peak of TgaRun.peaks" mat-button (click)="deleteTgaRunPeak(peak)">{{peak.temperature}}</button>
          </div>
    </div>
    <div *ngIf="renderChart && selectedTgaRuns.length == 1">
      <h3> Deriviative Controls </h3> 
  
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="Window Size" type="number"  step="5" value="value" [(ngModel)]="sgOptions.windowSize">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Polynomial" type="number" value="value" [(ngModel)]="sgOptions.polynomial">
        </mat-form-field>
        <button mat-button (click)="recalculateDerivative()"> Plot </button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTgaRuns.length > 1" fxLayout="row">
   


         

          <div fxLayout="column" fxFlex=100>
 
            <highcharts-chart 
              *ngIf="renderMultiChart"
              [Highcharts]="Highcharts"
              [options]="multiChartOptions"
              [callbackFunction]="multiChartRender()"
              [(update)]="multiUpdateFlag"
            
      
              style="width: 100%; height: 500px; display: block;"
            ></highcharts-chart>

         

            <!-- {{multiUpdateFlag}} -->
           

            <div class="example-form" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field class="example-full-width">
                  <input matInput   type="number" step="0.005" placeholder="Y Axis Min" [(ngModel)]="multiYaxisMin" (change)="changeMultiYaxis()" >
                </mat-form-field>
              
                <mat-form-field  class="example-full-width">
                  <input matInput   type="number" step="0.005" placeholder="Y Axis Max"  [(ngModel)]="multiYaxisMax" (change)="changeMultiYaxis()">
                </mat-form-field>

                <mat-form-field   class="example-full-width">
                    <input matInput type="number" step="10" placeholder="X Axis Min"  [(ngModel)]="multiXaxisMin" (change)="changeMultiXaxis()">
                  </mat-form-field>

                  <mat-form-field   class="example-full-width">
                      <input matInput type="number" step="10" placeholder="X Axis Max"  [(ngModel)]="multiXaxisMax" (change)="changeMultiXaxis()">
                    </mat-form-field>
                  <mat-form-field   class="example-full-width">
                      <input matInput type="number"  placeholder="Displayed Internval"  [(ngModel)]="pointIntervalDisplayed" (blur)="updateMultiHighchartObj()">
                      <mat-hint>Interval between displayed points and raw data.</mat-hint>
                    </mat-form-field>
              </div>

              <p>Loaded {{storedTgaRuns.length}} Files </p>
        </div>
  </div>

  
</div>