<ng-select
    [items]="hazards"
    [multiple]="true"
    bindValue="id"
    placeholder="Select Hazards"
    [(ngModel)]="selectedHazards"
    
    
    [appendTo]="appendTo"
    (change)="onChange($event)"
    (add)="onAdd($event)"
    (remove)="onRemove($event)"
    (clear)="onClear()"
    >
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice:0:4">
            <span class="ng-value-label"><img [src]="item.url" width="25px" height="25px"><!--  {{item.name}} --></span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 4">
            <span class="ng-value-label">{{items.length - 4}} more...</span>
        </div>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
        <img [src]="item.url" width="20px" height="20px"> {{item.name}}
    </ng-template>
</ng-select>
