
<div fxLayout="row"  >

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex>


      <app-select-project
        style="min-width:150px;"
        (change)="filterProject($event)"
        (clear)="clearFilterProject($event)"
      ></app-select-project>

      <app-select-semrun-type
        style="min-width:150px;" 
        
        (change)="filterSemrun($event)"
        (clear)="clearFilterSemrun($event)"
        placeholder="Run Type"
      ></app-select-semrun-type>

      <app-select-user
         style="min-width:150px;"
        (change)="filterOperator($event)"
        (clear)="clearFilterOperator($event)"
        placeholder="Operator"
      ></app-select-user>  


      <app-select-user
        style="min-width:150px;" 
        
        (change)="filterRequestor($event)"
        (clear)="clearFilterRequestor($event)"
        placeholder="Requested by"
      ></app-select-user>

      

  

  </div>

  <div fxLayout="row" fxLayoutAlign="end center" fxFlex fxLayoutGap="20px">

      <button class="mat-elevation-z1" mat-raised-button (click)="refreshDatabase()"> Refresh </button>
      <mat-form-field style="max-width: 100px;">
          <mat-select  placeholder="Page Size"  [(ngModel)]="gridOptions.cacheBlockSize" (selectionChange)="onPageSizeChanged()">
            <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize" [attr.selected]="pageSize === gridOptions.cacheBlockSize ? 'selected': null">
              {{pageSize}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      <mat-form-field style="width:400px">
          <!--   <span matPrefix>+1 &nbsp;</span> -->
          <input id="semDatabaseSearchBar" type="text" matInput (keyup)="onTextFilterChanged()"  [(ngModel)]="filteredTextFilterName"  placeholder="Search">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>  

    </div>

</div>



<ag-grid-angular
#agGrid

id="semDatabase"
class="ag-theme-balham"
[columnDefs]="columnDefs"
[gridOptions]="gridOptions"
[defaultColDef]="defaultColDef"
[rowData]="rowData"
[frameworkComponents] = "frameworkComponents"

(cellEditingStopped)="onCellEditingStopped($event)"
(cellEditingStarted)="onCellEditingStarted($event)"

[animateRows]="true"

(gridReady)="onGridReady($event)"
>
</ag-grid-angular>
