/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*  */

/* Style Overwrites  */



/**  STYLE 4 */

.tab-content::-webkit-scrollbar {
	width: 5px;
    background: rgb(52, 89, 122);
    border-radius: 20px; 
	 cursor:pointer !important;
} 

.tab-content::-webkit-scrollbar-thumb {
	background-color: rgb(52, 89, 122);
    border: 2px solid #555555;
    border-radius: 20px;
	cursor:pointer !important;

}

.tab-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 20px;
	cursor:pointer !important;

}

.tab-content
{
	position: relative;
    z-index: 1;
    display: block;
    height: calc(100% - 60px);
    overflow: auto;
    padding: 0px 25px 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.65) !important;
}
.mat-tab-link
{
	height: 35px !important;
    padding: 0 12px !important;
    min-width: 100px !important;
	font-size: 13px !important;
   		
}

.mat-tab-link-active
{
	color: #104e7b;
    font-weight: bold;
    font-size: 14px !important;
	background-color: #d0cfcf60;
}

.mat-list-item-button-active
{
	color: #005da0 !important;
    font-weight: bold !important;
    background-color: #e0e0e0 !important;
}

/* notification overrieds */

.simple-notification.info {
    background: #2f7798 !important;
}

.simple-notification-wrapper.bottom
{
	
	bottom: 60px !important;
}

.simple-notification.error
{
	background: #9c372f !important;
}
.simple-notification
{
	border-radius: 25px !important;
	padding: 5px 0px 5px 20px !important;
	min-height: inherit !important;
	z-index:9000;
}
.simple-notification .icon {
	
	top: -9px !important;
	right: -10px !important;
	height: 65px !important;
}

.simple-notification .sn-title {
    line-height: inherit !important;
    font-size: inherit !important;
	font-weight: bold;
}

.simple-notification .sn-progress-loader
{
		margin-left:28px;
		margin-right: 28px;
		width: 80% !important;
		top: 3px !important;
		height: 3px !important;
	
}

/** Because I can **/



/** Datatable Tweaks **/

.dataTables_length 
{
	margin-bottom:20px !important;
}

.dataTables_filter input[type=search] {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}

.dataTables_wrapper {
	font-size: 13px;
}


/** Table "Stats" **/

.table-stats {
    border: 1px solid #C2C2C2;
    border-collapse: separate;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 !important;
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 12px;
    color: #333;
}

.table-clickable tbody tr{
	
	cursor: pointer;
}

.table-stats thead tr:nth-child(1) th {
    /* font-size: 13px; */
    font-size: 0.9em;
    font-weight: bold;
    font-family: helvetica,arial,sans-serif;
    background: rgb(45, 89, 122);
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-radius: 0 !important;
	    text-align: start;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: rgba(242, 243, 243, 0.40);
}

.table-stats.table-condensed th {
    padding: 4px;
}

.table-stats.table-condensed td {
	padding: 2px 2px;
	font-size: 0.8em;
}


.table-condensed > tbody > tr > td {
    vertical-align: middle;
}

/* select2  */

.select2-results__option div
{
	display:inline-block;
}

.bigdrop{
	width: 800px !important;
}

.select2-container {
	    width: inherit !important;
	
}

.select2-selection__clear
{
	margin-left:5px;
}

.select2-container .select2-selection--single .select2-selection__rendered{
	
	/* padding-right: 30px !important; */
}


/** General Use Case **/

.borderless {
	
	border: 0px;
}


.clickable {
	
	cursor: pointer;
}

.hidden {
	
	display: none !important;
}

.top-mat-form-buffer
{
	
}

.top-mat-form-buffer mat-form-field {
	
	margin-top:15px !important;
}

/** Custom mat-card**/

.quantiam-mat-card {
	
	padding: 0px !important;
}

.quantiam-mat-card mat-card-content{
	
	padding: 5px 15px 15px 15px !important;
	margin: 0px;
}

.quantiam-mat-card mat-card-actions {
	 margin: 5px !important;
	 padding: 0px;
}

.quantiam-mat-card mat-card-title{
	
	background-color: #2d597a;
    color: white;
    padding: 6px;
    font-size: 12px;
	margin-bottom: 5px;
}

.quantiam-mat-card table {
	
	margin-top:10px;
	margin-bottom:10px;
	
	
}

.quantiam-mat-card table thead tr {
	
	height: 30px;
}

.quantiam-mat-card table thead tr th {
	
	padding: 5px;
}

.quantiam-mat-card table tbody tr {
	
	height:30px;
}

.quantiam-mat-card table tbody tr td {
	
	font-size: 12px;
	border: 0px;
	padding: 5px;
}


.highcharts-background{
	/* fill:inherit !important; */
	
}