/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*  */

/* Style Overwrites  */



/**  STYLE 4 */

.tab-content::-webkit-scrollbar {
	width: 5px;
    background: rgb(52, 89, 122);
    border-radius: 20px; 
	 cursor:pointer !important;
} 

.tab-content::-webkit-scrollbar-thumb {
	background-color: rgb(52, 89, 122);
    border: 2px solid #555555;
    border-radius: 20px;
}

.tab-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 20px;
}

.tab-content
{
	position: relative;
    z-index: 1;
    display: block;
    height: 90%;
    overflow: auto;
	padding: 15px 25px 0px 20px;
	
}



.mat-tab-link
{
	height: 35px !important;
    padding: 0 12px !important;
    min-width: 100px !important;
	font-size: 13px !important;
   		
}

.mat-tab-link-active
{
	color: #093758;
    font-weight: 600;
    font-size: 14px !important;
}

/* notification overrieds */

.simple-notification-wrapper.bottom
{
	
	bottom: 60px !important;
}

.simple-notification.error
{
	background: #9c372f !important;
}
.simple-notification
{
	border-radius: 50px !important;
}

.simple-notification .sn-progress-loader
{
		margin-left:28px;
		margin-right: 28px;
		width: 80% !important;
		top: 3px !important;
		height: 3px !important;
	
}

/** Because I can **/



/** Datatable Tweaks **/

.dataTables_length 
{
	margin-bottom:20px !important;
}

.dataTables_filter input[type=search] {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}

.dataTables_wrapper {
	font-size: 13px;
}


/** Table "Stats" **/

.table-stats {
    border: 1px solid #C2C2C2;
    border-collapse: separate;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 !important;
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 12px;
    color: #333;
}

.table-clickable tbody tr{
	
	cursor: pointer;
}

.table-stats thead tr:nth-child(1) th {
    /* font-size: 13px; */
    font-size: 1.0em;
    font-weight: bold;
    font-family: helvetica,arial,sans-serif;
    background: rgb(45, 89, 122);
    color: #FFF;
    border-bottom: 1px solid #FFF;
    border-radius: 0 !important;
	    text-align: start;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: rgba(242, 243, 243, 0.40);
}

.table-stats.table-condensed th {
    padding: 4px;
}

.table-stats.table-condensed td {
	padding: 2px 4px;
	font-size: 10px;
}


.table-condensed > tbody > tr > td {
    vertical-align: middle;
}

/* select2  */

.select2-results__option div
{
	display:inline-block;
}

.bigdrop{
	width: 800px !important;
}