<div fxLayout="column" fxLayoutGap="15px">

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">


      <mat-form-field>
          <select  matNativeControl placeholder="Minimum Hours" [(ngModel)]="minimumHours" (change)="updateCalendar()" >
              <option value=0>0</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
              <option value=8>8</option>
  
          </select>
     
        
      </mat-form-field>

     <app-select-user placeholder="Select Employee" (change)="updateSelectedUser($event)" style="width: 250px;"></app-select-user>

      

 
    
     <mat-checkbox [(ngModel)]="subordinatesOnly" (change)="updateCalendar()">Subordinates</mat-checkbox>


  </div>
    <div id="calendar"
    ></div>

</div>
 
