/deep/ .fc-title{

    font-size: 11px;
}

/deep/ .fc-center h2
{

    font-size: 24px;
}

/deep/ .fc-button-group{


    font-size: 12px;
}

/deep/ .fc-title{

    color: white;
}

::ng-deep .fc button, .fc table, body .fc {
    font-size: 0.9em !important;
}